.recover-container {
    margin-top: 40px;
    align-items: center;
    min-width: 500px;
}
.recover-container button {
    margin-top: 50px;
}
.recover-container mat-card-title {
    padding: 20px; 
}
.recover-container mat-card-content {
    width: 100%;
}
.recover-container mat-form-field {
    width: 100%;
}
