<form [formGroup]="recoverForm">
    <mat-card class="recover-container">  
        <mat-card-header>
            <mat-card-title>
                Proszę wpisać nowe hasło
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="recover-field">
                <mat-label >Nowe hasło</mat-label>
                <input type="password" matInput formControlName="newPassword">
                <mat-error *ngIf="recoverForm.get('newPassword')?.hasError('required')">
                    Pole nie może być puste
                </mat-error>
                <mat-error *ngIf="recoverForm.get('newPassword')?.hasError('minlength')">
                    Hasło musi zawierać co najmniej 8 znaków
                </mat-error>
                <mat-error *ngIf="recoverForm.get('newPassword')?.hasError('pattern')">
                    Hasło musi zawierać małe,duże litery oraz cyfry
                </mat-error>
            </mat-form-field>  
        </mat-card-content>    
        <mat-card-actions>
            <button mat-raised-button type="submit" color="primary" (click)="recover()" [disabled]="recoverForm && recoverForm.get('newPassword')?.invalid">Resetuj hasło</button>
        </mat-card-actions>   
    </mat-card>
</form> 
        

        